.TicTacToeArea{
    padding-left:50px;
    height: 100vh;
    background-color:gray;
}

.gridArea{
    display:grid;
    grid-template-columns: 75px 75px 75px;
}

.boxes{
    display:flex;
    justify-content: center;
    align-items:center;
    border-color: rgb(133, 131, 131);
    background-color: rgb(207, 200, 200);
    height:75px;
}